<!DOCTYPE html>
<html>
<!--  --disable-web-security -->
<head>
	<title>Affichage</title>
</head>

<body>
<p>
	Affichage des données : <br/>
	Numero de Device  : <%= device %><br/>
	<%= temperature %>
	<%= sensors %>
</p>
</body>
</html>